.supervisorTable table{
	table-layout: fixed !important;
}

.text{
	white-space: nowrap !important;			/*文本不进行换行*/
	text-overflow: ellipsis !important;	/* 超出内容显示为省略号*/
	overflow: hidden;										/*内容超出后隐藏*/
}
